<!-- metadata.subject = {{#if reservationId}} {{reservationId}} dispute resolved in your favour {{else}} A disputed payment has been resolved in your favour{{/if}} -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Lato:400);
    td {
      border: none; font-family:Lato, Helvetica, Sans-Serif;
    }
  </style>
</head>
<body>
    <div style="margin: 0 auto; padding: 20px 0;">
        <table style="width: 100%; border: none; padding-left: 10px; padding-right: 10px;">
        <tr>
            <td>
                <strong>Hello</strong><br><br>

                We have good news for you! The below disputed payment was successfully resolved in your favour by your customer's bank or credit card company.
                {{#sameRegion}}This means the disputed amount will be returned to your account in the next few days.{{/sameRegion}}
                {{^sameRegion}}This means the funds will not be withdrawn from your bank account.{{/sameRegion}}<br><br>

                Booking Reference: {{ reservationId }}<br>
                Description: {{ description }}<br>
                Cardholder Name: {{ cardHolderName }}<br>
                Card Number: •••• {{ cardLast4 }}<br>
                Card Expiry: {{ cardExpiryMonth }} / {{ cardExpiryYear }}<br>
                Statement Descriptor: {{ statementDescription }}<br>
                Disputed Amount: {{ disputedAmount }}<br>
                Original Amount: {{ chargeAmount}}<br><br>

                There's no further action required. Have a great day.<br><br>

                <strong>Regards</strong><br>
                SiteMinder Payments
            </td>
        </tr>
    </table>
  </div>
</body>
</html>