<!-- metadata.subject = [AUTO PAY] A payment failed for reservation {{reservationId}} -->

<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

    a, a:hover, a:active, a:visited {
      color: #E97500;
    }

    @media screen and (min-width: 600px) {
      .info-box {
        display: inline-block;
        width: 208px;
        margin: 0 2px 2px 0;
        vertical-align: top;
        min-height: 62px;
      }
    }
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="background-color: #F8F8F8; margin: 0; font-family: Lato, Helvetica, sans-serif; font-size: 14px; line-height: 1.4; color: #333333;">
  <div style="padding: 14px 0;">
    <table class="main-table" style="position: relative; max-width: 600px; border: none; margin: 0 auto;">
      <tr>
        <td style="background-color: #FFF3EB; padding: 28px;"><img src="{{assetPath}}/logos/littlehotelier.png" style="display: block; width: 155px; height: 20px; margin: 0 auto;" alt="Little Hotelier"></td>
      </tr>
      <tr>
        <td style="padding: 42px 40px 27px 40px; background-color: #FFFFFF;">
          <h1 style="font-family: Lato, Helvetica, sans-serif; color: #333333; font-size: 21px; text-align: left; margin: 0 0 32px 0;">
            <img width="36" src="{{assetPath}}/icons/warning-icon.png" alt="logo" style="vertical-align: middle; margin-right: 5px;"/>
            A reservation payment has failed
          </h1>
          <p style="font-family: Lato, Helvetica, sans-serif; color: #444444; margin: 0 0 19px 0;">Unfortunately, we are unable to process automated payments for this reservation.</p>
          <p>	
            Reason:
            {{#eq errorType "GENERIC_ERROR"}}
              <strong>Your guest's credit card payment has failed.</strong>
            {{/eq}}
            {{#eq errorType "AUTHENTICATION_ERROR" }}
              <strong>Your guest's credit card could not be authenticated.</strong>
            {{/eq}}
            {{#eq errorType "INVALID_CARD_DETAILS_ERROR"}}
              <strong>Your guest's credit card is invalid or has expired.</strong>
            {{/eq}}
            {{#eq errorType "INSUFFICIENT_FUNDS_ERROR"}}
              <strong>Your guest's credit card contained insufficient funds.</strong>
            {{/eq}}
          </p>
          <p>
            Please contact your guest and send a payment request using the steps below:
          </p>
          <ol style="margin-bottom:20; margin-left: 20px; padding:0; font-family: Lato, Helvetica, sans-serif; line-height:22px;" align="left">
            <li>
              Click on <strong>'View Reservation'</strong> below
            </li>
            <li>
              Select the <strong>'Send Payment Request'</strong> beneath the booking summary details.
            </li>
          </ol>
          <div style="font-family: Lato, Helvetica, sans-serif; margin-bottom: 20px;">
            <div class="info-box" style="margin: 0 0 2px 0; padding: 20px 24px; background-color: #F6F8FA;">
              <div style="color: #777777; font-size: 12px; margin-bottom: 5px;">Date and time</div>
              <div style="color: #3A3A3A;">{{scheduledDate}}</div>
            </div>
            <div class="info-box" style="margin: 0 0 2px 0; padding: 20px 24px; background-color: #F6F8FA;">
              <div style="color: #777777; font-size: 12px; margin-bottom: 5px;">Reservation ID / Reference ID</div>
              <div style="color: #3A3A3A;">{{reservationId}}</div>
            </div>
            <div class="info-box" style="margin: 0 0 2px 0; padding: 20px 24px; background-color: #F6F8FA;">
              <div style="color: #777777; font-size: 12px; margin-bottom: 5px;">Amount</div>
              <div style="color: #3A3A3A;">{{amount}}</div>
            </div>
          </div>
          <div style="padding-left: 24px; padding-right: 24px; padding-top: 9px; padding-bottom: 9px; margin-top: 5px; margin-bottom: 20px; background: #484B4B; border-radius: 32px; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <a href="{{reservationUrl}}" style="color: white; font-size: 15px; font-family: Noto Sans; font-weight: 400; text-decoration: none; line-height: 22px; word-wrap: break-word">View reservation</a>
          </div>
          <hr color="#DDDDDD" size="1"/>
          <p style="font-family: Lato, Helvetica, sans-serif; color: #333333; margin: 15px 0 0 0;">If you have any questions please don't hesitate to e-mail our support team at <a href="mailto:support@littlehotelier.com" target="_blank" style="color: #E97500;">support@littlehotelier.com</a></p>
        </td>
      </tr>
      <tr>
        <td style="background-color: #242E38; color: #FFFFFF; font-size: 8px; padding: 42px; text-align: center;">
          <p style="font-family: Lato, Helvetica, sans-serif; margin: 0; line-height: 1.6;">SiteMinder Limited (ACN 121 931 744) of Bond Store 3, 30 Windmill Street, Millers Point NSW 2000, Australia.</p>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
