<!-- metadata.subject = Reminder: You’re nearly there! Finish setting up Little Hotelier Pay-->
<!DOCTYPE html>
<html style="margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">

</head>

<body style="margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;">
<div class="container" style="width: 600px; margin: 0px auto; padding: 0px 0px 0px 0px; font-size: 16px;">
    <div class="branding">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" height="75px">
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td align="center" valign="center" class="top-bar"
                                            style="background-color: #FFF3EB; width: 100%; height: 76px;" width="100%" height="76"
                                            bgcolor="#FFF3EB">
                                            <img height="27" width="216" src="{{assetPath}}/logos/littlehotelier.png">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="text-area"
         style="font-family: Lato, Helvetica, Sans-Serif; font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.43; letter-spacing: normal; color: #444444;">
        <div class="heading" style="font-weight: bold; font-size: 21px; text-align: center; padding: 20px 0px 21px 0px;">
            You’re only a few clicks away from setting up Little Hotelier Pay
        </div>
        <div class="content" style="padding: 0px 39px;">
            <div>
                <div>
                    Hi {{representativeName}},
                </div>
                <div>
                    <p>You’re almost done with setting up your Payments account for {{propertyName}}.</p>
                    <strong>Complete your verification.</strong>
                    <br>
                    It only takes a few minutes to complete your verification and ensure your account is fully activated and ready to process payments.
                </div>
                <br>
                <a href="{{ppayVerificationLink}}" style="padding: 10px 38px; border-radius: 5px; background-color: #008acd; color: #FFFFFF; text-decoration: none; line-height: 37px;">
                    Complete now
                </a>
                <div>
                    <hr style="border-top: 1px solid #d0d6d6; margin: 30px 0px">
                    <p style="margin-top: 0px">
                        <strong>Frequently Asked Questions</strong>
                    </p>
                    <br>
                    <strong>What happens if I don’t verify my account?</strong>
                    <p style="margin-top: 0px">
                        You won't be able to process credit card payments and receive payouts to your bank account.
                        If your account remains unverified for more than 30 days we may terminate your Payments service without further notice.
                    </p>
                    <br>
                    <strong>What’s required to complete verification?</strong>
                    <p style="margin-top: 0px">
                        You’ll need a scanned copy of a government issued photo identification, such as a drivers’ license or passport.
                        If you have applied for your company, you may need to scan and upload your company registration documents.
                    </p>
                    <hr style="border-top: 1px solid #d0d6d6; margin: 30px 0px">
                    <a class="link" href="{{lhFAQLink}}" style="text-decoration: none; color: #008acd;">
                        Learn more about the Little Hotelier Pay Dashboard
                    </a>
                    <p>
                        If you have any questions or concerns, dont hesitate to contact your Little Hotelier payments team at
                        <a class="link" href="mailto:support@littlehotelier.com" style="text-decoration: none; color: #008acd;">
                            support@littlehotelier.com
                        </a>.
                    </p>
                    <p>
                        <strong>The Little Hotelier Pay Team</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer" style="width: 100%; font-size: 8px; line-height: 1.63; background-color: #242e38;">
            <div class="footer-text" style="padding: 47px 60px; text-align: center; color: white;">
                <div>
                    <div>
                        This e-mail was sent to you by SiteMinder Limited | Ground Floor, 30 Windmill Street,
                        Millers Point, 2000 Australia
                    </div>
                    <div>
                        Hammersmith Embankment, Manbre Road, London W6 9RH United Kingdom -
                        Registered in England and Wales, registration number 07242801
                    </div>
                </div>
                <div>
                    <div>
                        The Colonnade, Tower 1, Suite 350 15301 North Dallas Parkway Addison TX 75001 USA
                    </div>
                    <div>
                        Australia: 1300 736 198 | International: +61 2 9221 4444 | New Zealand: 0800 452 450
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
