<!-- metadata.subject = [Payment terminal] The delivery of your order was unsuccessful -->

<!DOCTYPE html>
<html>
<head>
  <meta name="email-subject" content="[Payment terminal] The delivery of your order was unsuccessful">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,600&display=swap" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,600&display=swap);
    .wrapper {
      padding: 22px 0;
    }

    .wrapper table {
      position: relative;
      max-width: 600px;
      border: none;
      margin: 0 auto;
    }

    .header {
      background-color: #FFF3EB;
      padding: 28px;
    }

    .header img {
      display: block; 
      width: 155px; 
      height: 20px; 
      margin: 0 auto;
    }

    .main {
      padding: 42px 40px 27px 40px; 
      background-color: #FFFFFF;
    }

    .primary-section {
      color: #3A3A3A;
      font-family: Lato, Arial, sans-serif;
      font-size: 20px; 
      font-weight: 800; 
      line-height: normal;
      margin: 0 0 27px 0;
    }

    .primary-section img {
      margin: auto 15px auto 0; 
      vertical-align: middle; 
      width: 36px; 
      height: 36px;
    }

    .secondary-section {
      color: #3A3A3A;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.2px;
    }

    .footer {
      background-color: #242E38; 
      color: #FFFFFF; 
      font-size: 9px; 
      padding: 42px; 
      text-align: center;
      line-height: 1.4em;
    }

    .footer p {
      margin: 0; 
    }

    table {
      width: 100%;
      border: none;
      border-spacing: 0;
      padding: 0;
    }
  </style>
</head>

<body style="background-color: #EBEBEB; font-family: 'Noto Sans', Helvetica, sans-serif; margin: 0; padding: 0; font-size: 14px; line-height: 1.4; color: #333333;">
  <div class="wrapper">
    <table>
      <tr>
        <td class="header">
          <img src="{{assetPath}}/logos/littlehotelier.png" alt="Little Hotelier">
        </td>
      </tr>
      <tr>
        <td class="main">
          <p class="primary-section">
            <img src="{{assetPath}}/icons/warning-icon-yellow.png">
            The delivery of your order was unsuccessful
          </p>
          <p class="secondary-section">
            We are reaching out to inform you that our delivery partner attempted to deliver your order on {{terminalOrder.shipmentDate}}, but unfortunately, they were unable to complete the delivery.
          </p>
          <p class="secondary-section" style="margin: 0 0 27px 0;">
            Please contact us and request for a redelivery of your order.
          </p>
          <table style="background: #F6F8FA; padding: 24px;">
            <tr>
              <td>
                <h2 style="font-size: 16px; color: #FF6842; text-transform: uppercase; margin: 0 0 16px 0;">
                Order Details
                </h2>
                <table width="100%">
                  <tr>
                      <td style="padding: 0 0 16px 0;">
                        <div style="font-size: 12px; color: #777777;">Order ID</div>
                        <div style="font-size: 14px; color: #3A3A3A;">{{terminalOrder.id}}</div>
                      </td>
                  </tr>
                  <tr>
                      <td style="padding: 0 0 16px 0;">
                        <div style="font-size: 12px; color: #777777;">Order date</div>
                        <div style="font-size: 14px; color: #3A3A3A;">{{terminalOrder.date}}</div>
                      </td>
                  </tr>
                <tr>
                    <td style="padding: 0 0 16px 0;">
                    <div style="font-size: 12px; color: #777777;">Estimated arrival date</div>
                    <div style="font-size: 14px; color: #3A3A3A;">{{terminalOrder.estimatedArrivalDate}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <div style="font-size: 12px; color: #777777;">Tracking number</div>
                      <div style="font-size: 14px; color: #3A3A3A;">
                        {{terminalOrder.shipping.tracking.carrier}} - {{terminalOrder.shipping.tracking.trackingNumber}}
                      </div>
                    </td>
                </tr>
                </table>
                <table style="margin: 16px 0;">
                <tr>
                    <td colspan="3" style="border-bottom: 1px solid #C6CEDA; padding: 0 0 4px 0; min-width: 600px;">
                      <table>
                        <tr>
                          <td style="font-size: 12px; font-weight: 600; color: #717171; line-height: 18px; letter-spacing: 0.2px;">ITEM BREAKDOWN</td>
                          <td align="right" style="font-size: 12px; color: #717171;">Prices in {{terminalOrder.currency}}</td>
                        </tr>
                      </table>
                    </td>
                </tr>
                </table>
                <table>
                {{#if terminalOrder.hasTerminalHardware}}
                <tr>
                    <td style="padding: 0 0 16px 0;">
                      <table>
                        <tr>
                          <td width="60" valign="center" style="padding-right: 16px;">
                              <img src="{{assetPath}}/images/terminal.png" width="60" height="60" alt="Product image" style="display: block;">
                          </td>
                          <td>
                            <table>
                              <tr>
                                <td style="font-size: 18px; font-weight: 600; color: #333333; padding-bottom: 4px;">
                                  Payment terminal
                                </td>
                                <td width="80" align="right" style="font-size: 15px; color: #717171;">
                                  Qty: {{terminalOrder.terminalHardware.quantity}}
                                </td>
                                <td width="100" align="right" style="font-size: 15px; font-weight: 600; color: #717171; letter-spacing: -0.2px;">
                                  {{terminalOrder.terminalHardware.totalAmount}}
                                </td>
                              </tr>
                              <tr>
                                <td style="font-size: 15px; color: #717171; padding-bottom: 4px;">
                                    Wi-Fi only, includes charger
                                </td>
                              </tr>
                              <tr>
                                <td style="font-size: 15px; color: #717171;">
                                  {{terminalOrder.terminalHardware.amount}} per device
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                </tr>
                {{/if}}
                {{#if terminalOrder.hasChargingDock}}
                <tr>
                  <td style="padding: 0 0 16px 0;">
                    <table>
                      <tr>
                        <td width="60" valign="center" style="padding-right: 16px;">
                            <img src="{{assetPath}}/images/dock.png" width="60" height="60" alt="Product image" style="display: block;">
                        </td>
                      <td>
                          <table>
                          <tr>
                              <td style="font-size: 18px; font-weight: 600; color: #333333; padding-bottom: 4px;">
                                Charging dock
                              </td>
                              <td width="80" align="right" style="font-size: 15px; color: #717171;">
                                Qty: {{terminalOrder.chargingDock.quantity}}
                              </td>
                              <td width="100" align="right" style="font-size: 15px; font-weight: 600; color: #717171; letter-spacing: -0.2px;">
                                {{terminalOrder.chargingDock.totalAmount}} 
                              </td>
                          </tr>
                          <tr>
                              <td style="font-family: Noto Sans, Arial, sans-serif; font-size: 15px; color: #717171; padding-bottom: 4px;">
                                  Ethernet, 24/7 charging
                              </td>
                          </tr>
                          <tr>
                              <td style="font-family: Noto Sans, Arial, sans-serif; font-size: 15px; color: #717171;">
                              {{terminalOrder.chargingDock.amount}} per device
                              </td>
                          </tr>
                          </table>
                      </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                {{/if}}
                <tr>
                  <td style="border-top: 1px solid #C6CEDA; padding: 8px 0;">
                    <table>
                      <tr>
                        <td style="font-size: 15px; color: #717171;">
                          Subtotal
                        </td>
                        <td align="right" style="font-size: 15px; color: #717171;">
                          {{terminalOrder.itemSubTotal}} 
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 15px; color: #717171; padding: 8px 0;">
                          Shipping
                        </td>
                        <td align="right" style="font-size: 15px; color: #717171;">
                          {{terminalOrder.shipping.amount}} 
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <table>
                  <tr>
                    <td style="border-top: 1px solid #C6CEDA; padding: 8px 0 16px 0;">
                      <table>
                        <tr>
                          <td style="font-size: 18px; font-weight: 600;">
                            Total
                          </td>
                          <td align="right" style="font-size: 18px; font-weight: 600;">
                            {{terminalOrder.totalAmountWithoutTax}}
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px; font-style: italic; padding-top: 5px;">
                            If applicable, tax will be added to your invoice.
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td>
                    <a href="{{terminalOrder.viewOrderLink}}" style="display: inline-block; background: #484B4B; color: #ffffff; text-decoration: none; padding: 9px 24px; border-radius: 32px; font-size: 15px;">
                        View order
                    </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="margin: 30px 0 0 0; padding-bottom: 24px;">
              <tr>
              <td width="67" valign="top" style="padding-right: 16px;">
                  <div style="background: #333333; border-radius: 50%; width: 67px; height: 67px;">
                  <img src="{{assetPath}}/icons/help-icon-black.png" width="67" height="67" alt="Support" style="display: block; border-radius: 50%;">
                  </div>
              </td>
              <td valign="top">
                  <p style="font-size: 13px; line-height: 24px; margin: 0;">
                  <strong style="display: block; font-family: Noto Sans, Arial, sans-serif;">Need more information?</strong>
                  <a
                    href="{{terminalOrder.paymentTerminalLearnMoreUrl}}"
                    style="color: #006ADD; text-decoration: none;"
                  >
                    Visit our Help Centre
                  </a>
                  to find everything you need to know about payment terminals. If you have any questions please don't hesitate to email our support team at 
                  <a href="mailto:support@littlehotelier.com" style="color: #006ADD; text-decoration: none;">support@littlehotelier.com</a>.
                  </p>
              </td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="footer">
          <p>SiteMinder Limited (ACN 121 931 744) of Bond Store 3, 30 Windmill Street, Millers Point NSW 2000, Australia.</p>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
