<!-- metadata.subject = Payment required for your booking - {{{propertyName}}} -->

<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,600&display=swap" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,600&display=swap);

    a, a:hover, a:active, a:visited {
      color: #006ADD;
    }

    @media screen and (min-width: 680px) {
      .white-container {
        padding: 48px 24px;
      }

      h1, .confirmed {
        font-size: 30px !important;
      }

      .readonly-field {
        display: inline-block !important;
        vertical-align: top !important;
        width: 272px !important;
      }
    }
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="margin: 0; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 15px; line-height: 1.5; color: #333333;">
  <div class="grey-container" style="background-color: #EFF1F4; width: 100%;">
    <div style="padding: 48px 16px;">
      <div class="white-container" style="max-width: 806px; background-color: #FFFFFF; margin: 0 auto; padding: 44px 24px;">
        <table class="main-table" style="position: relative; max-width: 600px; border: none; width: 100%; margin: 0 auto;">
          <tr>
            <td>
              <h1 style="font-family: 'Noto Sans', Helvetica, sans-serif; font-weight: 600; font-size: 30px; line-height: 36px; margin: 0;">{{propertyName}}</h1>
              <div style="font-family: 'Noto Sans', Helvetica, sans-serif;">{{propertyLocation}}</div>
              <div style="margin-top: 16px;">
                <div style="font-family: 'Noto Sans', Helvetica, sans-serif; margin-bottom: 8px;"><a href="{{propertyPhone.url}}" target="_blank" style="color: #006ADD; text-decoration: none;"><img src="{{assetPath}}/payment-requests/phone@2x.png" style="width: 15px; height: 15px; margin-right: 8px; vertical-align: middle;" alt="Phone">{{propertyPhone.text}}</a></div>
                <div style="font-family: 'Noto Sans', Helvetica, sans-serif; margin-bottom: 8px;"><a href="{{propertyEmail.url}}" target="_blank" style="color: #006ADD; text-decoration: none;"><img src="{{assetPath}}/payment-requests/email@2x.png" style="width: 15px; height: 15px; margin-right: 8px; vertical-align: middle;" alt="E-mail">{{propertyEmail.text}}</a></div>
                <div style="font-family: 'Noto Sans', Helvetica, sans-serif;"><a href="{{propertyWebsite.url}}" target="_blank" style="color: #006ADD; text-decoration: none;"><img src="{{assetPath}}/payment-requests/website@2x.png" style="width: 15px; height: 15px; margin-right: 8px; vertical-align: middle;" alt="Website">{{propertyWebsite.text}}</a></div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding: 40px 0; font-family: 'Noto Sans', Helvetica, sans-serif; font-weight: 400; font-size: 26px; margin-bottom: 0px; line-height: 35px;">
              Your payment is due on {{paymentDueDate}}.
            </td>
          </tr>
          <tr>
            <td style="padding: 10px 0; font-size: 16px; font-family: 'Noto Sans', Helvetica, sans-serif;">
              Hi {{payerFirstName}} {{payerLastName}},
            </td>
          </tr>
          <tr>
            <td style="padding: 10px 0 56px 0; font-size: 16px; font-family: 'Noto Sans', Helvetica, sans-serif;">
              {{paymentRequestReasonDescription}}
            </td>
          </tr>
          <tr>
            <td style="background-color: #EFF1F4; padding: 24px;">
              <div style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif; padding-bottom: 10px; font-weight: 600; font-size: 20px; line-height: 26px; height: 29px;">Reservation details</div>
              <div class="fields">

                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">First name</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{payerFirstName}}</div>
                </div>
                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Last name</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{payerLastName}}</div>
                </div>

                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Reservation ID / Reference ID</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{reservationId}}</div>
                </div>
                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Booking channel</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{bookingChannel}}</div>
                </div>


                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Reservation dates</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{checkInDate}} - {{checkOutDate}}</div>
                  {{#if bookingDuration}}
                  <div class="secondary-value" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">
                  {{#eq bookingDuration "1" }}
                    {{bookingDuration}} night
                  {{else}}
                    {{bookingDuration}} nights
                  {{/eq}}
                  </div>
                  {{/if}}
                </div>
                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Room details</div>
                  {{#each rooms}}
                  <div style="margin-bottom: 8px;">
                    <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{roomTypeName}}</div>
                    {{#if numberOfGuests}}
                    <div class="secondary-value" style="color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">
                    {{#eq numberOfGuests "1" }}
                      {{numberOfGuests}} guest
                    {{else}}
                      {{numberOfGuests}} guests
                    {{/eq}}
                    </div>
                    {{/if}}
                  </div>
                  {{/each}}
                </div>
              </div>
              <div style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif; padding: 10px 0; font-weight: 600; font-size: 20px; line-height: 26px; height: 29px;">Payment details</div>
              <div class="fields">
                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="width: 100%; color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Reason for payment request</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{paymentRequestReason}}</div>
                </div>
                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="width: 100%; color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Date of payment request</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif;">{{paymentRequestDate}}</div>
                </div>
                <div class="readonly-field" style="width: 100%; margin-bottom: 20px;">
                  <div class="label" style="width: 100%; color: #717171; font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 13px;">Amount</div>
                  <div class="primary-value" style="color: #333333; font-family: 'Noto Sans', Helvetica, sans-serif; font-weight: 600; font-size: 24px; line-height: 30px;">{{paymentCurrencyString}} {{paymentAmount}}</div>
                </div>
              </div>

              <div style="width: 100%;">
                <a href="{{paymentUrl}}" style="display: block; text-align: center; margin-top: 20px; padding: 8px 24px; background: #006ADD; border-radius: 4px; border-color: #006ADD; border-style: none;" type="button"><img style="color: #FFFFFF; height: 15px; width: 11px; padding-right:10px;" src="{{assetPath}}/payment-requests/lock-icon@2x.png" alt="" /><span style="font-weight: 400; font-size: 15px; line-height: 24px; color: #FFFFFF;">Pay securely now</span></a>
                <div style="width: 100%; padding-top: 16px; text-align: center; font-weight: 400; font-size: 13px; line-height: 20px; color: #717171; letter-spacing: -0.1px;">This link will expire in 48 hrs.</div>
                <div style="display: inline-block; width: 100%; padding-top: 16px; text-align: center;">
                  <img src="{{assetPath}}/payment-requests/mastercard-id-check@2x.png" :alt="Mastercard ID Check" width="95" height="16" style="vertical-align: middle; margin-right: 20px"/>
                  <img src="{{assetPath}}/payment-requests/visa-secure@2x.png" :alt="Visa Secure" width="48" height="48" style="vertical-align: middle; margin-right: 20px"/>
                  <img src="{{assetPath}}/payment-requests/pci-dss-compliant@2x.png" :alt="PCI DSS Compliant" width="62" height="24" style="vertical-align: middle;"/>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding: 52px 0 24px 0; font-size: 16px;">
              <p style="font-family: 'Noto Sans', Helvetica, sans-serif;">We look forward to welcoming you on {{formattedCheckInDate}}. Please contact us if you have any questions.</p>
              <p style="font-family: 'Noto Sans', Helvetica, sans-serif;">Kind regards,<br />{{propertyName}}</p>
              <p style="font-family: 'Noto Sans', Helvetica, sans-serif;"><a href="{{propertyPhone.url}}" target="_blank" style="color: #006ADD; text-decoration: none;">{{propertyPhone.text}}</a><br />
                <a href="{{propertyEmail.url}}" target="_blank" style="color: #006ADD; text-decoration: none;">{{propertyEmail.text}}</a><br />
                <a href="{{propertyWebsite.url}}" target="_blank" style="color: #006ADD; text-decoration: none;">{{propertyWebsite.text}}</a></p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EFF1F4; padding: 24px;">
              <div><img src="{{assetPath}}/payment-requests/pay-icon@2x.png" alt="" style="display: inline-block; width: 36px; height: 25px; vertical-align: middle; margin: 0 10px 10px 0;"><h4 style="display: inline-block; margin: 0; font-family: 'Noto Sans', Helvetica, sans-serif; font-weight: normal; margin-bottom: 10px;">Little Hotelier Payments</h4></div>
              <p style="font-family: 'Noto Sans', Helvetica, sans-serif; font-size: 12px; margin: 0;">SiteMinder Limited (ACN 121 931 744) of Bond Store 3, 30 Windmill Street, Millers Point NSW 2000, Australia.<br />Your booking is with {{propertyName}}. SiteMinder's role is to solely facilitate the payment on behalf of {{propertyName}}.<br />&copy; SiteMinder 2023. All rights reserved.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
